.recommended-designs {
  color: white;
}

.each-design {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 80px;
  width: auto;
}
.opacity-less {
  opacity: 0.3;
}
.each-design .top {
  display: flex;
  margin-bottom: 10px;
  cursor: pointer;
}
.each-design .top .profile-img {
  width: 30px;
  height: 30px;
  background-color: #4d4d4d;
  border-radius: 100px;
  margin-right: 20px;
}

.each-design .design-img {
  cursor: pointer;
  width: 450px;
  height: auto;
  background-size: cover;
  background-position: center;
}
.each-design .design-img img,
.each-design .design-img video,
.each-design .design-img audio {
  width: 100%;
  /* background-size: contain; */
  /* height: 400px; */
  border-radius: 15px;
  margin-top: 20px;
  margin: 20px 0 0 0;
  cursor: pointer;
}
.each-design .bottom {
  display: flex;
  width: 450px;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}
.each-design .bottom .left {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.each-design .bottom button {
  border-radius: 100px;
  outline: none;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: linear-gradient(90deg, rgb(0, 72, 10) 0%, rgb(9, 181, 0) 100%);
  color: white;
}

.recommended-designs hr {
  margin-top: 15px;
  width: 450px;
  opacity: 15%;
}

.recommended-designs .popup-design {
  position: fixed;
  overflow: scroll;
  z-index: 5;
  top: 18vh;
  /* left: 27vw; */
  /* transform: translateX(15px); */
  display: flex;
  padding: 30px;
  backdrop-filter: blur(10px);
  background: rgba(84, 84, 84, 0.1);
  border-radius: 15px;
  gap: 2rem;
  width: 67vw;
  border: 0.5px solid rgba(255, 255, 255, 0.323);
}

.recommended-designs .popup-design:hover {
  position: absolute;
}

.recommended-designs .popup-design .close {
  position: absolute;
  z-index: 10;
  top: 20px;
  right: 20px;
  fill: white;
  cursor: pointer;
}

.recommended-designs .popup-design .left {
  width: 60%;
}
.recommended-designs .popup-design .right {
  font-size: 15px;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.recommended-designs .popup-design .img {
  cursor: pointer;
  width: 450px;
  height: auto;
  background-size: cover;
  background-position: center;
}
.popup-design .img img,
.popup-design .img video,
.popup-design .img audio {
  width: 100%;
  /* background-size: contain; */
  /* height: 400px; */
  border-radius: 15px;
  margin: 0;
  margin: 20px;
  cursor: pointer;
  position: relative;
  z-index: -10;
}

.recommended-designs .popup-design .img img {
  width: 100%;
  /* max-height: 50vh; */
}
/* .recommended-designs .popup-design .img {
  width: 600px;
} */
.priceAndBtn {
  display: flex;
  gap: 1rem;
}
.recommended-designs .popup-design .buy {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 30px;
}
.recommended-designs .popup-design .buy .edit,
.recommended-designs .popup-design .view {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.recommended-designs .popup-design .buy .edit span {
  position: relative;
  left: 5px;
}
.recommended-designs .popup-design .buy button {
  border-radius: 100px;
  outline: none;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  gap: 3px;
  background: linear-gradient(90deg, rgb(0, 72, 10) 0%, rgb(9, 181, 0) 100%);
  color: white;
}

.main-page .all-posts {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  flex-wrap: wrap;
  width: 70vw;
  padding: 0;
}

.main-page .each-post {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.main-page img,
.main-page video,
.main-page audio {
  width: 300px;
  border-radius: 15px;
  margin: 25px;
  cursor: pointer;
}
.main-page .recommendedPg-profile {
  margin-top: 100px;
}

.main-page .recommendedPg-profile .back-arrow {
  transform: translateX(-20px) translateY(20px);
  cursor: pointer;
}
.main-page .filter-post {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}
.main-page .filter-post button {
  padding: 7px 15px;
  background-color: rgb(30, 30, 30);
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 500;
  /* transform: translateY(120px); */
  margin-top: 120px;
  position: relative;
  z-index: -1;
  cursor: pointer;
}
.main-page .filter-post .active {
  color: black;
  background-color: #fff;
}
