.profile-home {
  width: 70vw;
}
.profile-home .set-profile-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 100px;
  position: absolute;
  left: 45%;
  cursor: pointer;
  top: 45%;
}

.profile-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.profile-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.profile-form input,
.profile-form textarea {
  /* width: 30%; */
  resize: none;
  font-family: poppins;
  width: 300px;
  text-align: center;
  border-radius: 8px;
  background-color: #1d1d1d;
  border: none;
  outline: none;
  color: white;
  padding: 10px 15px;
}
.profile-form textarea {
  width: 500px;
}
.profile-form button {
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    rgba(0, 98, 13, 1) 0%,
    rgb(0, 149, 20) 50%,
    rgba(14, 255, 0, 1) 100%
  );
  color: white;
}

/* ========================================================   ACTUAL PROFILE ================================================== */

.profile-info {
  margin-top: 50px;
  margin-left: 20px;
  display: flex;
  gap: 3rem;
  margin-bottom: 50px;
}
.profile-info .text .profile-top {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.profile-info .text {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  gap: 1rem;
}

.profile-info .image {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  background-color: gray;
}
.profile-info .text .profile-top button {
  padding: 10px 45px;
  border-radius: 10px;
  background: linear-gradient(90deg, rgb(0, 2, 98) 0%, rgb(0, 123, 255) 100%);
  border: none;
  outline: none;
  color: white;
}
.profile-info .text .profile-top p {
  font-size: 22px;
  font-weight: 600;
  color: white;
}
.profile-info .artist-about {
  font-size: 15px;
  max-width: 600px;
  color: gray;
}
.profile-info .follower-count {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 1rem;
  /* width: 33%; */
}

.profile-home .all-posts {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  flex-wrap: wrap;
  padding: 0;
}

.profile-home .each-post {
  cursor: pointer;
  width: 450px;
  height: auto;
  background-size: cover;
  background-position: center;
}

.profile-home .profile-home img,
.profile-home video,
.profile-home audio {
  width: 100%;
  /* background-size: contain; */
  /* height: 400px; */
  border-radius: 15px;
  margin-top: 20px;
  cursor: pointer;
}
