.home-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  /* padding: 0 50px; */
  padding: 30px 50px;
  transform: translateX(-48px);
  position: fixed;
  backdrop-filter: blur(30px);
  background: rgba(0, 0, 0, 0.1);
  margin: 0;
  opacity: 0.9;
  top: 0;
}

.home-nav .left input {
  padding: 8px 20px;
  width: 20vw;
  border-radius: 100px;
  border: 1px solid gray;
  outline: none;
  background-color: transparent;
}

.home-nav .right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.home-nav .right button {
  padding: 7px 15px;
  outline: none;
  border: none;
  border-radius: 100px;
  color: white;
}

.home-nav .right .learn-btn {
  background: linear-gradient(
    90deg,
    rgba(0, 45, 98, 1) 0%,
    rgba(0, 232, 255, 1) 100%
  );
  padding: 7px 18px;
  color: white;
  font-weight: 500;
}

.home-nav .right .connect-wallet-btn {
  background: linear-gradient(
    90deg,
    rgba(0, 98, 13, 1) 0%,
    rgb(0, 149, 20) 50%,
    rgba(14, 255, 0, 1) 100%
  );
  color: white;
  padding: 7px 18px;
}

.home-nav .right .profile-btn {
  width: 30px;
  height: 30px;
  background-color: gray;
  cursor: pointer;
}
